.env
node_modules
node_modules/
dist
dist/
build
build/
.DS_Store
.vscode
.idea
*.log
*.lock
coverage
coverage/
# Keep prisma/generated/client for package distribution
!prisma/generated/client/
pnpm-lock.yaml